<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left"><button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button></ion-nav-buttons>
			<ion-nav-buttons side="right"><button class="button button-icon button-clear ion-more" ng-click="openPopover($event)"></button></ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="viewContent" animation="slide-left-right"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left" class="menu">
		<ion-header-bar ui-sref="app.gallery" menu-close nav-direction="enter" nav-clear style="background-image:url(img/elma-brand.png)">
			<!--<ion-item class="item item-thumbnail-left">
				
			</ion-item>-->adfksadnfaosd fasiodfajds foaisdh Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem perspiciatis libero
			vel hic provident iste non, quidem ipsa magnam iure!
		</ion-header-bar>
		<ion-content class="has-header">
			<ion-list>
				<ion-item menu-close nav-direction="enter" class="item item-icon-right" ui-sref-active="active">Karta <i class="icon ion-chevron-right"></i></ion-item>
			</ion-list>
		</ion-content>
		<ion-footer-bar class="bar-light">
			<div class="button-bar"><button class="button button-icon icon ion-home" nav-clear menu-close nav-direction="exit" ui-sref="app.gallery">Home</button>
				<button class="button button-icon icon ion-log-out" ng-click="signOut()">Exit</button></div>
		</ion-footer-bar>
	</ion-side-menu>
	some chanes
</ion-side-menus>

<h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure non esse reiciendis est incidunt minus aut id doloribus
	fugit animi? Voluptates nam tenetur voluptate atque porro libero labore quas minima aliquid illum consectetur repellendus
	totam dolor, quae repudiandae sunt nisi.</h4>