<ion-modal-view class="usersModal bigModal">
	<ion-header-bar>
		<h1 class="title">Подтверждение</h1>
		<button class="button button-dark icon ion-close-round" ng-click="closeModal();"></button>
	</ion-header-bar>
	<ion-content>
		<ion-list can-swipe="true">
			<!--<ion-item ng-repeat="user in users" class="animate-item">
				{{user.Name}}
			</ion-item>-->
			<pre>{{final_order | json}}</pre>
			<div class="list" style="margin-bottom:0">

				<a class="item item-icon-left">Дата
					<span class="item-note">{{final_order.date | date : "dd.MM.y"}}</span>
				</a>


				<a class="item item-icon-left"> Агент :
					<span class="item-note">{{order.agent.title}}</span>
				</a>
				<a class="item item-icon-left"> Покупатель :
					<span class="item-note">{{order.client.title}}</span>
				</a>
				<a class="item item-icon-left"> По прайсу :
					<span class="item-note">{{order.priceList.title}}</span>
				</a>
				<a class="item item-icon-left"> Общая сумма :
					<span class="item-note">{{totalOrderPrice}}</span>
				</a>

			</div>
			<!--<div>
				<div>Data: {{finalOrder.date}}</div>
				<div>Agent: {{order.agent.title}}</div>
				<div>Pokupatel: {{order.client.title}}</div>
				<div>Po praysu: {{order.priceList.title}}</div>
			</div>-->

			<div class="list">

				<div class="item item-divider">
					Продукты
				</div>

				<div ng-repeat="pr in order.products track by $index" class="item">
    				<div>{{pr.title}}</div>
					<div>Цена : {{pr.price[0].price}}</div>
    				<div>Количeство : <span ng-show="pr.byBox != undefined">{{pr.byBox +' x '+ pr.in_box}}</span>
							<span ng-show="pr.byUnit != undefined && pr.byBox != undefined">+</span>
							<span ng-show="pr.byUnit != undefined"> {{pr.byUnit}}</span>
					</div>
					<div>Сумма : {{numberWithSpaces(pr.total)}}</div>
  				</div> 
			</div>

			<div class="button button-dark place-order" ng-click="place_order()">Оформить заказ</div>
		</ion-list>
	</ion-content>
</ion-modal-view>