<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
	<ion-content>
		<div class="row row-center">
			<div class="col col-center text-center">
				<h1 class="animated bounceInDown" on-tap="HelloWorld()">ELMA</h1>
				<div class="loginWrapper">
					<input type="text" placeholder="логин" ng-model="user.usernameOrEmail" />
					<span ng-click="user.usernameOrEmail=''">x</span>
				</div>
				<div class="loginWrapper">
					<input type="text" placeholder="пароль" ng-model="user.password" />
					<span ng-click="user.password=''">x</span>
				</div>
				<button class="button button-outline button-block button-light animated bounceInUp" ng-click="signIn()">
					Войти
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>